# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
/.idea
/test2/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

/test2/out
/test2/test2.iml
/test2/Отчет.txt
